$fontText  : 'arial';
$fontTitle : 'clear_sans_thinregular';
$fontLink  : 'cleanvel';
$fontLogo  : 'ShellyAllegroCRegular';

$colorText  : #747474;
$colorTitle : #5a5a5a;
$colorLink  : #7d7d7d;

$borderColorLight  : #d9d9d9;
$borderColorMedium : #8a8a8a;
$borderColorDark   : #464646;

$colorLinkHover : #ff3030;

@mixin transition($transition) {
	-webkit-transition: $transition;  
	-moz-transition:    $transition;
	-ms-transition:     $transition; 
	-o-transition:      $transition;  
}

@mixin rotateY($deg) {
	-webkit-transform: rotateY($deg);
	-moz-transform: 	 rotateY($deg);
	-ms-transform: 		 rotateY($deg);
	-o-transform: 		 rotateY($deg);
}

@mixin inner-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
	-webkit-box-shadow: inset $x $y $blur $spread rgba(255, 255, 255, $alpha);
	-moz-box-shadow:    inset $x $y $blur $spread rgba(255, 255, 255, $alpha);
	box-shadow:         inset $x $y $blur $spread rgba(255, 255, 255, $alpha);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  outline: none;
}
html { height: 101%; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }

/*
start properties
*/

body{
	overflow: hidden;
}

.b-header{
	width: 20%;
	background: #fff;
	height: 100%;
	position: fixed;
	left: 0;
	box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.b-content{
	width: 80%;
	background: #888;
	height: 100%;
	position: fixed;
	right: 0;	
	overflow: scroll;
}

.b-footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 60px;
	background: #2a2a2a;
	border-top: 1px solid #2a2a2a - #222;
}

.header{
	
}

.logo-wrap{
	width: 100% -40px;
	margin-bottom: 40px;
	text-align: center;
	padding: 0 20px;
}

.logo{
	font-size: 30px;
	width: 100%;	
	border-bottom: 1px solid $borderColorDark;
	padding: 20px 0;
}

.logo-link{	
	font-family: $fontLogo;
	color: $colorTitle;
}

.menu-wrap{

}

.header-menu li{
	position: relative;
}

.link-bg{
	background: #ff3030;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 0;
	height: 100%;
	z-index: 0;
}

.header-menu li a{
	display: block;
	width: 100% -40px;
	padding: 20px;
	text-align: right;
	border-bottom: 1px solid $borderColorLight;
	font-family: $fontLink;
	font-size: 16px;
	color: $colorLink;
	position: relative;
	z-index: 1;
	@include transition(0.7s);
	text-transform: uppercase;
}

.header-menu li a:hover{
	color: #fff;
}


.content{
	position: relative;
	width: 100%;
}

.content-list{
	height: 100%;
}

.content-list li{
	width: 25%;
	display: block;
	float: left;
}

.image-wrap{
	position: relative;	
	z-index: 1;
	@include transition(1s);
}

.content-list li img{
	width: 100%;
}

.content-list-item-inner-wrap{
	position: relative;
}

.content-list .meta-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background: #ff3030;
	@include rotateY(180deg);
	@include transition(1s);
	@include inner-shadow(0, 0, 120px, 40px, 0.1);
}

.link, .zoom{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.8);
	background: rgba(255, 255, 255, 0.6);
	top: 50%;
}

.link{
	left: 20px;
}

.zoom{
	right: 20px;
}

.copyright{
	float: left;
	width: 20%;
	font-family: $fontTitle;
	font-size: 14px;
	color: $colorTitle;
	line-height: 60px;
	text-align: center;
	position: relative;
	z-index: 11;
}

.social-list{
	float: right;
	padding-right: 20px;
}

.social-list li{
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 40px;
	width: 40px;	
	margin: 10px 0;
	@include transition(0.2s);
}

.social-list li a{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	font-family: 'fontello';
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	position: absolute;
	text-align: center;
}

.vk:after{
	content: '\e80e';
}

.fb:after{
	content: '\e811';
}

.tw:after{
	content: '\e80f';
}

.g:after{
	content: '\e810';
}

.social-passive {
	top: 0;
	left: 0;
}

.social-active{
	top: 40px;
	left: 0;
}

.vk-active {
	color: #44678d !important;
}

.fb-active {
	color: #3b5998 !important;
}

.tw-active {
	color: #00aced !important;
}

.g-active {
	color: #d34829 !important;
}


/*
fonts
*/

@font-face {
    font-family: 'cleanvel';
    src: url('../fonts/cleanvel.eot');
    src: url('../fonts/cleanvel.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cleanvel.woff') format('woff'),
         url('../fonts/cleanvel.ttf') format('truetype');
}

@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('../fonts/clearsans-thin.eot');
    src: url('../fonts/clearsans-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans-thin.woff') format('woff'),
         url('../fonts/clearsans-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?48529301');
  src: url('../fonts/fontello.eot?48529301#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?48529301') format('woff'),
       url('../fonts/fontello.ttf?48529301') format('truetype'),
       url('../fonts/fontello.svg?48529301#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'ShellyAllegroCRegular';
    src: url('../fonts/shelly.eot');
    src: url('../fonts/shelly.eot') format('embedded-opentype'),
         url('../fonts/shelly.woff') format('woff'),
         url('../fonts/shelly.ttf') format('truetype'),
         url('../fonts/shelly.svg#ShellyAllegroCRegular') format('svg');
}