html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  outline: none; }

html {
  height: 101%; }

/* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

input {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  text-decoration: none; }

/*
start properties
*/
body {
  overflow: hidden; }

.b-header {
  width: 20%;
  background: #f6f6f6;
  height: 100%;
  position: fixed;
  left: 0;
  -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10; }

.b-content {
  width: 80%;
  background: #888;
  height: 100%;
  position: fixed;
  right: 0;
  overflow-y: scroll; }

.logo-wrap {
  width: 100%;
  text-align: center;
  margin-bottom: 40px; }

.logo {
  font-size: 30px;
  width: 100%;
  border-bottom: 1px solid #8a8a8a;
  padding: 40px 0; }

.logo-link {
  font-family: "ShellyAllegroCRegular";
  color: #5a5a5a; }

.header-menu li {
  position: relative; }

.link-bg {
  background: #303030;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 0;
  height: 100%;
  z-index: 0; }

.header-menu li a {
  display: block;
  width: 100% -40px;
  padding: 20px;
  text-align: right;
  border-bottom: 1px solid #d9d9d9;
  font-family: "cleanvel";
  font-size: 16px;
  color: #7d7d7d;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  text-transform: uppercase; }

.header-menu li a:hover {
  color: #fff; }

.content {
  position: relative;
  width: 100%; }

.content-list {
  height: 100%; }

.content-list-masonry li {
  width: 25%;
  display: block;
  float: left; }

.image-wrap {
  position: relative;
  z-index: 1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

.content-list-masonry li img {
  width: 100%; }

.content-list-item-inner-wrap {
  position: relative; }

.meta-wrap {
  position: absolute;
  width: 100%;
  height: 1000px;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-box-shadow: inset 0 0 120px 40px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 0 120px 40px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 120px 40px rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  overflow: hidden;
  width: 0; }

.meta-inner-wrap {
  position: relative;
  width: 100%;
  height: 100%; }

.image-link, .image-zoom {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.6);
  font: 16px/40px 'fontello';
  text-align: center;
  color: #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; }

.image-link:hover, .image-zoom:hover {
  color: #7d7d7d;
  background: #fff; }

.image-describe {
  color: #ebebeb;
  font-family: "clear_sans_thinregular";
  font-size: 16px;
  text-align: center;
  padding: 20px; }

.footer {
  width: 100%;
  position: absolute;
  bottom: 0; }

.copyright {
  font-family: "clear_sans_thinregular";
  font-size: 14px;
  color: #5a5a5a;
  line-height: 60px;
  text-align: center;
  position: relative;
  z-index: 11; }

.social-list {
  padding: 20px;
  text-align: center; }

.social-list li {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 40px;
  margin: 10px 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; }

.social-list li a {
  display: block;
  width: 40px;
  height: 40px;
  font-family: 'fontello';
  color: #7d7d7d;
  font-size: 14px;
  line-height: 40px;
  position: absolute;
  text-align: center; }

.vk:after {
  content: '\e80e'; }

.fb:after {
  content: '\e811'; }

.tw:after {
  content: '\e80f'; }

.g:after {
  content: '\e810'; }

.image-link:after {
  content: '\e804'; }

.image-zoom:after {
  content: '\e80b'; }

.social-passive {
  top: 0;
  left: 0; }

.social-active {
  top: 40px;
  left: 0; }

.vk-active {
  color: #44678d !important; }

.fb-active {
  color: #3b5998 !important; }

.tw-active {
  color: #00aced !important; }

.g-active {
  color: #d34829 !important; }

/*
	portfolio
*/
.content-filter {
  width: auto;
  background: transparent;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 2;
  left: 20%; }

.content-filter-inner-wrap {
  position: relative; }

.content-filter-list {
  padding: 0 30px 0 40px;
  position: relative; }

.content-filter-list li {
  display: inline-block;
  line-height: 60px;
  margin-right: 40px;
  opacity: 1; }

.content-filter-list li a {
  color: #d2d2d2;
  font-size: 16px;
  font-family: "cleanvel";
  text-transform: uppercase; }

.filter-menu-icon {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  font-family: 'fontello';
  font-size: 32px;
  line-height: 60px;
  color: #d2d2d2;
  cursor: pointer;
  text-align: center;
  background: #000;
  opacity: 0.2;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; }

.filter-menu-icon:after {
  content: '\e814'; }

.filter-menu-icon:hover {
  opacity: 1; }

.filterMenuOpened {
  opacity: 1 !important; }

/*
	blog
*/
.content-list-blog {
  height: 100%; }

.content-list-blog li {
  display: block;
  background: #fff;
  float: left;
  width: 23%;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2); }

.content-item-blog-image {
  width: 100%; }

.content-item-blog-title {
  padding: 20px 20px 10px; }

.content-item-blog-title-link {
  font-family: "clear_sans_thinregular";
  font-size: 20px;
  color: #5a5a5a; }

.content-item-blog-text {
  font-family: "arial";
  color: #747474;
  font-size: 14px;
  line-height: 22px;
  padding: 0 20px 20px; }

.content-item-blog-meta-date {
  display: block;
  margin-bottom: 20px;
  font: 12px/12px "clear_sans_thinregular";
  color: #a7a7a7;
  padding: 0 20px; }

.content-item-blog-meta-wrap {
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  position: relative; }

.content-item-blog-meta-views,
.content-item-blog-meta-comments,
.content-item-blog-meta-category,
.content-item-blog-meta-tags,
.content-item-blog-meta-likes {
  color: #858585;
  display: block;
  font: 12px/20px "clear_sans_thinregular";
  margin-bottom: 5px; }

.content-item-blog-meta-comments a,
.content-item-blog-meta-category a,
.content-item-blog-meta-tags a {
  color: #a7a7a7;
  display: inline;
  font: 12px/20px "clear_sans_thinregular"; }

.content-item-blog-meta-likes {
  position: absolute;
  top: 20px;
  right: 20px; }

/*
	single
*/
.content-list-single {
  width: 80%;
  -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.3); }

.content-list-single li {
  background: #fff; }

/*
fonts
*/
@font-face {
  font-family: 'cleanvel';
  src: url("../fonts/cleanvel.eot");
  src: url("../fonts/cleanvel.eot?#iefix") format("embedded-opentype"), url("../fonts/cleanvel.woff") format("woff"), url("../fonts/cleanvel.ttf") format("truetype"); }
@font-face {
  font-family: 'clear_sans_thinregular';
  src: url("../fonts/clearsans-thin.eot");
  src: url("../fonts/clearsans-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans-thin.woff") format("woff"), url("../fonts/clearsans-thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?48529301");
  src: url("../fonts/fontello.eot?48529301#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?48529301") format("woff"), url("../fonts/fontello.ttf?48529301") format("truetype"), url("../fonts/fontello.svg?48529301#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ShellyAllegroCRegular';
  src: url("../fonts/shelly.eot");
  src: url("../fonts/shelly.eot") format("embedded-opentype"), url("../fonts/shelly.woff") format("woff"), url("../fonts/shelly.ttf") format("truetype"), url("../fonts/shelly.svg#ShellyAllegroCRegular") format("svg"); }
